<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="public/styles.css" rel="stylesheet" />
    <script src="../public/index.js"></script>
    <title>Form</title>
</head>
<body>
    <form>
      <label for='name'>
          Name:
          <input type="text" name="name" placeholder="Input name" id="name"/>
      </label>
      <label for='email'>
          Email:
          <input type="text" name="email" placeholder="Input email" id="email"/>
      </label>
      <label for='phone'>
          Phone:
          <input type="text" name="phone" placeholder="+375ZZXXXYYYY" id="phone"/>
      </label>
      <button type="submit" id='add'>Submit</button>
    </form>
</body>
</html>
